.footer {
  background-color: #f8d7e3 !important;
  margin-top: 80px;
}

/* Testo */
footer h5 {
  color: #cc4f7c;
  font-weight: 600;
}

.footer-subtitle {
  font-size: 0.95rem;
  color: #555;
  margin-top: 15px;
}

/* Icone social */
.footer-icon {
  color: #a66466;
  font-size: 1.3rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
  opacity: 0.8;
}

.footer-icon:hover {
  transform: translateY(-3px);
  opacity: 1;
}

/* Immagini */
.footer-img {
  display: block;
  max-width: 90px;
  margin-inline: auto;
  opacity: 0.8;
}

/* Aggiustamento centratura immagini */
.footer-img-left {
  transform: translateX(12px);
}

.footer-img-right {
  transform: translateX(-12px);
}

/* Responsive */
@media (min-width: 768px) {
  .footer-img {
    max-width: 200px;
    transform: none;
  }
}
