/* Card */
.project-card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.project-card p {
  font-size: 0.95rem;
  color: #666;
}

/* Titolo */
.projects-preview h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #cc4f7c;
  margin-bottom: 30px;
}

/* Immagine */
.project-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* Bottone */

.btn-outline-pink {
  border: 1px solid #e673a3;
  color: #e673a3;
  border-radius: 30px;
  padding: 6px 18px;
  font-size: 0.9rem;
  transition: 0.25s ease;
}

.btn-outline-pink:hover {
  background-color: #e673a3;
  color: #fff;
}
