/* Card */
.project-card {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.project-card p {
  font-size: 0.95rem;
  color: #666;
}

.project-home-title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #8f4f52;
}

.project-home-intro {
  max-width: 600px;
  margin: auto;
  color: #777;
}

.project-home-intro::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 10px auto 0;
  margin-bottom: 20px;
  background: linear-gradient(90deg, transparent, #a66466, transparent);
}
